


/* Login */
#login-field {
    width: fit-content;
}
#login-input-field{
    display: grid;
    width: fit-content;
}
#login-input-field span{
    padding: 5px 0px;
    font-size: 22px;
}
#login-input-field input{
    font-size: 18px;
}
